 <!DOCTYPE html>
<html ng-app="myApp">
<head>
<style type="text/css">
.form-horizontal{
dispaly:flex;
justify-content:space-between;
}

</style>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
</head>
<body>
 <form data-toggle="validator" class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="fname">First Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" ng-model="detailsData.fname" id="fname" placeholder="Enter first name" pattern="[A-Za-z]" required>
      </div>
    </div>
    
       <div class="form-group">
      <label class="control-label col-md-2" for="lname">Last Name</label>
      <div class="col-md-10">
        <input type="name" class="form-control" ng-model="detailsData.lname" id="lname" placeholder="Enter last name" pattern="[A-Za-z]"  required>
      </div>
    </div>
       <div class="form-group">
      <label class="control-label col-md-2" for="address">Address</label>
      <div class="col-md-10">
        <input type="text" class="form-control" ng-model="detailsData.address" id="address" placeholder="Enter address" required>
      </div>
    </div>
       <div class="form-group">
      <label class="control-label col-md-2" for="city"> City</label>
      <div class="col-md-10">
        <input type="text" class="form-control" ng-model="detailsData.city" id="city" placeholder="Enter city name" pattern="[A-Za-z]" required>
      </div>
    </div>
    <div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="details.submit" class="btn btn-block btn-info">
    Next Section </a>
</div>
</div>
</form>
    </body>
</html>